<div class="container mt-4">
    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>ATK</mat-label>
                <input matInput required>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>禮裝ATK</mat-label>
                <input matInput>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>職階</mat-label>
                <select matNativeControl required>

                </select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>職階克制</mat-label>
                <select matNativeControl required>
                </select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>寶具種類</mat-label>
                <select matNativeControl required>
                </select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>寶具倍率(%)</mat-label>
                <input matInput>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>陣營克制</mat-label>
                <select matNativeControl required>
                </select>
            </mat-form-field>

        </mat-card-content>
    </mat-card>
    <mat-expansion-panel class="mt-4">
        <mat-expansion-panel-header>
            <mat-panel-title>
                其他數值
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline">
            <mat-label>ATK Buff(%)</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>特攻威力 Buff(%)</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>寶具威力 Buff(%)</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>寶具特攻 Buff(%)</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>固定傷害 Buff</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-expansion-panel>
    <div class="mt-4 float-right">
        <button mat-raised-button class="mr-2">清空</button>
        <button mat-raised-button color="primary">計算</button>
    </div>
</div>