<div class="container mb-4" style="margin-top: 100px" *ngIf="data.length > 0">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

        <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
            <ng-container *ngIf="col !== REMOVE">
                <mat-header-cell *matHeaderCellDef> {{ col | getColTitle: colModels }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element[col] | number: '1.0-0' }} </mat-cell>
            </ng-container>
            <ng-container *ngIf="col === REMOVE">
                <mat-header-cell class="remove-col" *matHeaderCellDef>  </mat-header-cell>
                <mat-cell class="remove-col" *matCellDef="let element">
                    <mat-icon color="warn" (click)="remove(element)">delete_forever</mat-icon>
                </mat-cell>
            </ng-container>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element">
                <div class="element-detail" [@detailExpand]="(element === expandedElement) ? 'expanded' : 'collapsed'">
                    <mat-grid-list cols="2" rowHeight="65px">
                        <mat-grid-tile *ngFor="let col of expandColumns">
                            <span class="tile-title">{{ col | getColTitle: colModels }} :&nbsp; </span>
                            <span>{{ element[col] }}</span>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="main-row"
        (click)="expandedElement = (expandedElement === row) ? null : row"></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"
        [ngClass]="{'expand-row' : (expandedElement === row)}"></mat-row>
    </mat-table>
</div>